body {
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
  margin: 0;
  padding: 30px;
}

.dashboard {
  max-width: 1100px;
  margin: auto;
}

.header h1 {
  margin: 0;
  color: #2c3e50;
}

.subtitle {
  color: #7f8c8d;
  margin-bottom: 25px;
}

.analytics {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.card {
  flex: 1;
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.label {
  font-size: 13px;
  color: #95a5a6;
}

.card h2 {
  margin-top: 10px;
  color: #2c3e50;
}

#searchInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
}

th {
  background: #3498db;
  color: white;
  padding: 12px;
}

td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

button {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #3498db;
  color: white;
}

button:disabled {
  background: #bdc3c7;
  cursor: not-allowed;
}
/* ---------- AUTH PAGES ---------- */
.auth-body {
  background: linear-gradient(135deg, #2c3e50, #3498db);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth-container {
  width: 100%;
  max-width: 400px;
}

.auth-card {
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
  text-align: center;
}

.auth-card h1 {
  margin-bottom: 10px;
}

.auth-subtitle {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* ---------- BUTTONS ---------- */
.primary-btn {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: #3498db;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #2980b9;
}

/* ---------- FORMS ---------- */
.form-card label {
  display: block;
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 13px;
  color: #555;
}

.form-card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.error-text {
  margin-top: 10px;
  color: red;
  font-size: 13px;
}
